# Copy this file to .env and fill in your Supabase project credentials
VITE_SUPABASE_URL=https://lurrbvojpwwkmkfzzaha.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1cnJidm9qcHd3a21rZnp6YWhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MTkwOTEsImV4cCI6MjA5MDE5NTA5MX0.LEpHCXxTJur8DwwIhMHIyAsJ-5ixQZwvnREK_hjSAbA
